[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
kodiswift = "*"
requests = "*"
bs4 = "*"
livestreamer = "*"
rollbar = "*"

[requires]
python_version = "3.8"
