<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30110">
        <setting label="30111" type="labelenum" id="protocol" values="http|rtmp" default="http"/>
        <setting label="30112" type="labelenum" id="resolution" values="176|256|360|576|720" default="720"/>
    </category>
    <category label="30120">
        <setting label="30121" type="action" action="Addon.OpenSettings(plugin.video.youtube)" option="close"/>
    </category>
    <category label="30100">
        <setting label="30101" type="bool" id="debug" default="false"/>
    </category>
</settings>
